<div class="top-con">
    <div class="game-over">
        <p>Game end in 100 Seconds</p>
    </div>
    <div class="next-turn">
            <p> remaning turns - {{10 - turn}}</p>
        <p> Next turn in {{timer}} seconds</p>
    </div>
    <div class="option-con">
        <div class="menu">
            <button class="menu-button">Option</button>
            <div class="dropdown-menu">
                <a routerLink="/menu">Main Menu</a>
                <a routerLink="/">Log Out</a>
            </div>
        </div>
    </div>
</div>