<div id="login">
    <h1 class="header1">Stock Market Simulator</h1>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center" class="col-md-12">
            <div id="login-column" class="col-md-12">

                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="header2">Create Account</h3><br>

                        <div class="form-group">
                            
                            <input type="text" name="username" id="username" class="username" placeholder="Username">
                        </div><br>

                        <div class="form-group">
                               
                            <input type="text" name="email" id="email" class="email" placeholder="Email">
                        </div><br>  

                        <div class="form-group">
                               
                            <input type="text" name="password" id="password" class="password1" placeholder="Password">
                        </div><br>

                         <div class="form-group">
                           
                            <input type="text" name="password" id="password" class="password2" placeholder="Confirmation">
                        </div><br>

                        <div class="form-group">
                                
                            <input type="submit" routerLink="/menu"  name="submit" class="SignUp" value="Sign Up">
                        </div>

                        
                        <p class="para1"> Already a member?<a routerLink="/"> Log In</a></p> 
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 