<div>
  
</div>


<div class="buy-sell-con col-12">
    <div class="form-con con ">
  
      <div class="close-btn">
        
      </div>
      <div class="heading-con">
        <p>How To Play</p>
      </div>
     
       <div class="para-con">
        <h3>Create Account</h3><P>As the player enter the website by entering to signup section and entering a user name player can create a new account to play the game.
            Password in not necessary and single user have ability to make any number of accounts </P>
          <h3>Sign In</h3><P>when a player re-visit the website player can use his/her previous account to access the game.
            Just by entering the user name of the previously created user account user will be logged in to relevant account</P>
          <h3>Create/Join Game</h3><P>Player have the ability to Join a game with players or create a new match and play.
            By clicking on the join button or entering name to a match player can start playing the game</P>
          <h3>Gameplay</h3><P>When a player join a game or create a game he/she will be start playing the game.
            With the help of the graph player can see the changing of the stock prices. Right side corner table displays the current price of the stocks.
            As the player decide to buy or sell stocks he/she can click on the trade button then select the company from the dropdown list and enter number of
            shares player wish to trade and buy/sell.</P>
          <h3>Goal</h3><P>Goal of the game is to get the highest account balance within given 10 rounds. In each round user can buy or sell shares after 30s each round will be over and new round will be started.
            After all the 10 rounds are finished total profit of the player will be calculated and if that amount is grater than other players that player will be the winner.
          </P>
          <p>Have Fun :)</p>


       </div>
        <div class="form-items btn-con">
          <div class="text-con">
            <button routerLink="/menu" class="trade-button" type="submit">Back</button>
          </div>
        </div>
      
    </div>
  </div>
  
  