<div class="right-top-con con">
        <table class="stock-table">
                <thead>
                    <tr>
                        <th>Company</th>
                        
                        <th>Current Price(Rs)</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stock of stocks">
                            <td>{{stock.DisplayName}}</td>
                            <td>{{stock.Price | number : '1.2-2'}}</td>
                    </tr>
                   
                </tbody>
            </table>
</div>
